
*{
  font-family: 'Times New Roman', Times, serif;
}
#nav-links{
    color:rgb(70, 66, 66);
    font-size: 18px;  
}
#nav{
    background-color: rgb(225, 250, 242);
}
footer{
  background-color: rgb(225, 250, 242);


}
.card-height {
  height: 90%;
}

.logo {

    color: rgb(10, 10, 10);
    border: 2px solid rgb(5, 5, 5);
    border-radius: 10px;
    align-items: center;
    padding: 8px;
  }

  #main-image{
    width: 70%;
  }
  #phones img{
    width: auto;
    height: 200px;
  }
  #myCarousel img{
    width: 20%;

  }

  #quote{
    width: 10%;
    font-style: italic;
  }